<h1><img src ="assets/images/prudential_logo.png"></h1>



<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</ng-container>


<label for="nameField">Ask the Prudential Chatbot something!</label>


<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"><br>

<button (click)="sendMessage()">Send</button>

